@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --white-color: #fff;

  --primary: #8548EF;
  --secondary: #F97912;
  --border: rgba(222,222,222,.08)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;

    --primary: #8548EF;
    --secondary: #F97912;
    --border: rgba(222,222,222,.08)
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply text-base;
  font-family: var(--font-latin), sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.fill-primary {
  stroke: var(--primary);
}

.fill-secondary {
  stroke: var(--secondary);
}

.space-nowrap{
  white-space: nowrap;
}